@CHARSET "UTF-8";

.base-body,
.base-html {
	height: 100%;
	width: 100%;	
}
.parent-frame {
	background: url(/images/background.jpg) center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 99%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	box-shadow: 3px 3px 3px #888, -3px 3px 3px #888, 3px -3px 3px #888, -3px -3px 3px #888;
}

.header-frame {
	height: 3%;
	width: 100%;
}

.content-frame {
	height: 95%;
	width: 100%;
}

.footer-frame {
	height: 2%;
	width: 100%;
	border-top: 1px solid #AAA;
	font-size: 11px;
}